@import url(https://fonts.googleapis.com.css?family=Itim);

:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --modal-duration: 1s /*how quickly the modal appears */

}

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    font-family: 'Itim', sans-serif;
    line-height: 1.6;
    background: #ffff;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center; /*now everything is in center of the screen except modal*/
}

.restart-btn { /*initally hidden*/
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}